body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.rectangle {
  width: 307px;
  height: 45px;
  border-radius: 100px;
  border: solid 1px rgb(251, 251, 251);
  display: flex;
}

.option-notactive {
  color: rgb(255, 255, 255);
}

.option-active {
  color: rgb(230, 101, 73);
  width: 163px;
  height: 45px;
  border-radius: 100px;
  background-color: rgba(249, 249, 249, 0.5);
  box-shadow: 0 0 6px 1px rgba(195, 51, 51, 0.5);
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
}

.container {
  width: 710px;
  height: 365px;
  border-radius: 8px;
  background-image: linear-gradient(
    to bottom,
    rgba(250, 145, 97, 0.7),
    rgba(247, 59, 28, 0.69)
  );
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
  margin: 50px auto;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 67px 199px;
}

.row {
  padding-bottom: 19px;
}
