body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Base element design, see app.css for responsive design */
.rectangle {
  width: 307px;
  height: 45px;
  border-radius: 100px;
  border: solid 1px rgb(251, 251, 251);
  display: flex;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.container {
  width: 710px;
  height: 365px;
  border-radius: 8px;
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
  margin: 50px auto;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 67px 199px;
}

.row {
  padding-bottom: 19px;
}

.paragraph {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: rgb(255, 255, 255);
}

.option-active {
  min-width: 163px;
  height: 45px;
  border-radius: 100px;
  background-color: rgba(249, 249, 249, 0.5);
}

.option-notactive {
  color: rgb(255, 255, 255);
}

.disabled {
  pointer-events: none;
}

.hidden {
  display: none;
}

.logo {
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  font-size: 50px;
  margin: auto;
  margin-top: 5px;
  color: #fff;
}
